# {{ ansible_managed }}

# Default system properties included when running spark-submit.
# This is useful for setting default environmental settings.

{% for var in spark_defaults_conf %}
{{var}}
{% endfor %}